
   body{
    background-color:#f2f2f2;
    font-family:arial, sans-serif;
    padding:40px;
   }
   #carnet{
    background-color:#1e1e1e;
    color:lime;
    border:2px solid lime;
    padding:20px;
    border-radius:10px
  
}