#ms24017 {
    width: 450px;
    margin: 60px auto;
    padding: 35px;

    background: #ffffff;
    border: 3px solid #000000;
    border-radius: 8px;

    font-family: 'Segoe UI', Arial, sans-serif;
    color: #000000;

    box-shadow: 4px 4px 0px #000000;
   }
   #MA24005{
    background-color:#1e1e1e;
    color:lime;
    border:2px solid lime;
    padding:20px;
    border-radius:10px;
   box-shadow:4px 4px 0px #000000;
}